*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --principal:#008374;
    --secondaire:#F85A40;
    --blanc:#ffff;
    --gris:#A2A2A2;
    --gray:#F6F6F6;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--principal);
    padding-top: 20px;
}
.nav-logo{
    display: flex;
    /* justify-content: flex-start; */
    margin-left: 300px;
}
.active{
    border-bottom: 3px solid var(--secondaire);
}
.lien-ancres{
    justify-content: flex-end;
    margin-right: 240px;
    
}
.fa-chevron-down{
    margin-left: 0px;
}
.lien-ancres a{
    color: var(--blanc);
    margin-right: 20px;


}
.fa-chevron-down{
    color: var(--blanc);
}
.nav-logo p{
    color: var(--blanc);
    
}
.nav-logo span{
    width: 10px;
    height: 10px;
    background-color: var(--secondaire);
    border-radius: 50%;
    margin-top: 10px;
}
.carrousel-menu{
    background-color: var(--principal);
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 70px;
}
.text-carroussel{
    padding-top: 60px;
    color: var(--blanc);
    margin-right: 250px;
}
.btn-submit{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--principal);
    color: var(--blanc);
    box-shadow: 1px 1px 10px  rgb(100, 99, 99);
    /* border: 1px solid var(--principal); */
    border: none;
    margin-top: 10px;
    margin-right: 5px;
}
.top-carroussel{
   display: flex;
   justify-content: center;
   text-align: center;
}
.content-1, .content-2,.content-3,.content-4{
    position: relative;
    margin-top: -70px;
    background-color: var(--principal);
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(48, 47, 47);
    margin-right: 10px;
}
.content-1 .icons-top{
    margin-top: 50px;
}
.content-2 .icons-top{
    margin-top: 50px;
}
.content-3 .icons-top{
    margin-top: 50px;
}
.content-4 .icons-top{
    margin-top: 50px;
}
.fa-tv,.fa-gem,.fa-location-dot,.bi-command{
    color: #8dc8c1;
    font-size: 30px;

}
.text-para{
    font-size: 20px ;
    color: var(--blanc);
    font-weight: bold;
}
.fa-circle-play{
    color: var(--blanc);
    box-shadow: 1px 1px 10px  rgb(100, 99, 99);
    margin-right: 5px;
    
}
      /* **********************section team impact design***************************** */
.content-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 0px;
    justify-items: center;
    
   
}
.text-entete{
     margin-top: 200px;
     margin-bottom: 30px;
     text-align: center;
}
.text-entete h1{
    /* border-bottom: 2px solid var(--principal); */
    text-align: center;
    display: inline;
    margin-bottom: 80px;
}
.hr-content {
    width: 10px;
    /* background-color: var(--principal); */
    border-top: 3px solid var(--principal);;
    text-align: center;
    align-items: center;
}

.social-medias-quatre,.social-medias-trois,.social-medias-deux,.social-medias-un{
    display: flex;
    
}
.card-un,.card-deux,.card-trois,.card-quatre{
    width: 220px;
    height: 300px;
    background-color: whitesmoke;
    border: 7px solid whitesmoke;
    box-shadow: 5px 5px 5px rgb(153, 153, 153);
}
.img-quatre img{
    border-radius: 15px;
}
.text-card-un{
    text-align: center;
}
.text-card-deux{
    text-align: center;
}
.text-card-trois{
    text-align: center;
}
.text-card-quatre{
    text-align: center;
}
.p2{
    font-style: italic !important;
    text-align: center;
    color: var(--gris);
}
.fa-twitter,.fa-facebook,.fa-instagram,.fa-linkedin{
    margin-left: 20px;
    border: 1px solid var(--gris);
    font-size: 20px;
    border-radius: 50%;
    color: var(--gris);
    padding: 3px;
}



    /* *********************Section pricing design****************** */
#pricing{
    background-color: var(--gray);
    margin-top: 200px;
}
.pricing-content{
    display: flex;
    justify-content: center;
    
}
.free-pricing,.business-pricing,.developer-pricing{
    background-color: var(--blanc);
    height:400px ;
    width: 18%;
    border: none;
    border-radius: 10px;
    margin-top: 100px;  
}
.free-pricing,.developer-pricing{
    margin-top: 10em;
}

.business-pricing{
    border: 3px solid var(--principal);
    box-shadow: 0px 5px 5px rgb(124, 123, 123);
    height: 500px;
    
   
}
.titre-un{
    text-align: center;
    margin-top: 30px;
    color: var(--gris);
}
.cercle{
   text-align: center;
   background-color: var(--principal);
   border-radius: 50%;
   height: 50px;
   width: 50px;
   margin-left: 120px;
   margin-top: 20px;
   display: flex;
   flex-wrap: wrap;
   place-content:center;
  
}
.month{
    color: var(--gris);
    font-size: 10px;
}
.bi-airplane,.fa-cube,.fa-paper-plane{
    color: var(--blanc);
    font-weight: bold;
}
.montant{
    text-align: center;
    color: var(--secondaire);
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 10px;
}
.text-icons{
    margin-left: 30px;
}

.text-icons p{
    color: var(--gris);
    line-height: 1.5em;
    
}

.text-icons p .fa-check{
    color: var(--principal);
}
.text-icons p .fa-xmark{
    color: var(--gris);
}
.barre{
    text-decoration: line-through;
}
.btn-buy{
    text-align: center;
    align-items: center;
    align-content: center;
}
.btn-buy button{
    border: 1px solid var(--principal);
    border-radius: 20px;
    background-color: var(--blanc);
    color: var(--principal);
    box-shadow: 5px 5px 5px rgb(174, 173, 173);
    width: 120px;
    height: 40px;
    margin-top: 20px;
   
}
.btn-text-icons{
    margin-top: 5em !important;
}
